

@section Styles{
    <link rel="stylesheet" href="~/css/Home.css" />
}

<div class="firstView">
    <div class="container d-flex align-items-center">
        <div class="words align-items-center">
            <div class="align-items-center">
                <h1 class="note display-5 fw-bold mb-3">
                    BloggingBlogsss - The Dev Blog
                </h1>

                <p class="lead">
                    BloggingBlogsss is the home for all the people that love
                    sharing their experiences in any field. Everyone from any
                    background is welcome to express themselves in their blogs
                    in this platform. I Welcome you all 🙇💐.
                </p>
            </div>

@* 
            <div class="col-12 col-lg-6">
                <img src="~/Images/bblogs.jpg"
                     alt="Dev Blogs"
                     class="d-block mx-lg-auto img-fluid"
                     width="300px" />
            </div> *@
        </div>
    </div>

</div>
   
