@model EmployeeMVC.Models.ViewModels.NotificationViewModel

@foreach(var notification in Model.Notifications){

    <div>@notification.Message-@notification.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</div>
}