

<div class="container d-flex h-100 align-items-center justify-content-center ">
    <div class="text-center">
        <h1 class="text-danger">Access Denied!!!</h1>
        <p class="text-black">You don't have enough authorization to access this page.</p>
    </div>
</div>