@model EmployeeMVC.Models.ViewModels.LoginViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/Login.css" />
}


<div class="ccc">
    <div class="containes">

        <div class="head">
            <h1>
                Login
            </h1>
        </div>
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" id="username" class="form-control" asp-for="Username" required />
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>

            <div class="mb-3">
                <label class="form-label"> Password</label>
                <input type="password" id="password" class="form-control" asp-for="Password" required minlength="6" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="linkSec">
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-light">Login</button>
                </div>

                <a href=""> <p>Not registered yet?</p></a>
            </div>

            <input type="text" asp-for="ReturnUrl" hidden />
        </form>


    </div>
</div>
       

  