@model List<EmployeeMVC.Models.Domain.Tag>

<div class="bg-secondary bg-opacity-10">
    <div class="container py-5">
        <h1>Show All Tags.</h1>
    </div>
</div>

<div class="container py-5">
    @if(Model !=null && Model.Any())
    {
        <table class="table dark-table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Display Name</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var tag in Model)
                {
                    <tr>
                        <td>@tag.Id</td>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else{
        <p>The Tags are empty!!!</p>
    }
</div>