@model EmployeeMVC.Models.UpdateEmployeeModel
@{
}



<form method="POST" action="View">
    <h1> Update the employees here!</h1>
    <div class="mb-3">

        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>

        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">

        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">

        <label for="" class="form-label">Phone</label>
        <input type="number" class="form-control" asp-for="Phone">

        <label for="" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="Salary">

        <label for="" class="form-label" mb-3>Department</label>
        <input type="text" class="form-control" asp-for="Department">

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Employees">Delete</button>

    </div>

</form>

