.below-content {
    display: flex;
    justify-content: space-between;
    align-items: row;
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    width: 16rem;
    position: fixed;
    top: 4rem;
    border-right: 1px solid rgb(235, 232, 232);
}

    .sidebar ul {
        margin-top: 3rem;
        list-style: none;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }



ul a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
}

.sideoption {
    margin: 0px 3px 3px 0px;
    padding: 20px 0px 20px 0px;
    color: black;
    border-bottom: 1px solid rgb(243, 238, 238);
    font-size: 20px;
}

    .sideoption:hover {
        color: rgb(11, 9, 9);
        background-color: rgb(185, 183, 183);
        /* transform: scaleY(1.2); */
        margin-top: 0;
        /* transition: trasform 0.19s; */
        border-radius: 5px;
        /* font-weight: 600; */
        /* box-shadow: 5px 10px 8px #888888; */
    }

.heads {
    color: rgb(6, 6, 6);
    margin: 0 0 0 55px;
    padding: 0px;
    text-decoration: none;
}

    .heads a {
        text-decoration: none;
        color: black;
    }

.mainContent {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.mainpart {
    width: auto;
    padding: 10px;
    margin: 10px;
    margin-left: 17rem;
    border-radius: 10px;
    height: 20rem;
    background-color: white;
    border: 1px solid rgb(235, 232, 232);
    display: flex;
    flex-direction: row;
    /* backdrop-filter: blur(5px); */
}

    .mainpart:hover {
        box-shadow: 2px 2px 2px 2px #888888;
    }

.image-section {
    width: 20rem;
    border-radius: 10px;
    overflow: hidden;
}

    .image-section img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

.details-section {
    margin-left: 5px;
    padding: 5px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

    .details-section h1 {
        margin: 0;
    }

.auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary {
    background-color: white;
    height: 6rem;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.tags {
    display: flex;
    flex-direction: row;
}

    .tags p {
        padding: 0px 5px 0 5px;
        margin: 0 2px 0 0;
        border-radius: 2px;
        background-color: gray;
        height: auto;
        width: auto;
    }

button {
    margin-top: 4rem;
    bottom: 0;
    height: 3rem;
    background-color: black;
    color: white;
    border-radius: 5px;
}

    button:hover {
        /* background-color: white;
            color: black; */
        font-weight: 500;
        transform: scale(1.2);
        transition: transform(.19s);
        cursor: pointer;
    }

.icons {
    padding-right: 15px;
}

.new {
    padding-left: 15px;
}

.navbars {
    top: 0;
    position: fixed;
    height: 4rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    z-index: 10;
    border-bottom: 1px solid rgb(235, 232, 232);
}

.notify {
    padding: 7px 20px 0px 0px;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .notify {
        padding: 7px;
        font-size: 20px;
    }

    .sidebar {
        width: 5rem;
    }

    .new {
        display: none;
    }

    .icons {
        font-size: 30px;
        padding-left: 10px;
    }

    .mainpart {
        margin: 5px 5px 0 90px;
        display: flex;
        flex-direction: column;
        height:25rem;
        
    }

        .mainpart .image-section {
            height: 9rem;
            width: auto;
        }

    .details-section {
        height: 5rem;
    }

        .details-section h1 {
            font-size: 12px;
        }

    .auth, .tags, .summary {
        font-size: 10px;
    }

    .details-section {
        width: auto;
    }

    .summary {
        height: 4rem;
    }

    .mainpart button {
        margin-top: 9px;
    }
}
