* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: black;
    background-image: url("/Images/blogback.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


